<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexenpoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54835/CalculatorService.svc"
          binding="wsDualHttpBinding" bindingConfiguration="duplexenpoint"
          contract="ICalculatorService" name="duplexenpoint">
        <identity>
          <userPrincipalName value="CYMPC-01\Nivel PRO" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>